<div class="container border border-info rounded">
  <!-- title -->
  <h3 class="text-center p-3 m-5">
    Before Relax Time
  </h3>
  <!-- input chores -->
  <div class="input-group mb-3">
      <input [(ngModel)]="todoInput" type="text" class="form-control" (keyup.enter)="createTodo()" placeholder="New Chore" aria-label="New Chore" aria-describedby="basic-addon2">
      <!-- input chore button -->
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="createTodo()"><i class="fas fa-plus-square"></i></button>
      </div>
    </div>
  <div class="row mt-5">
    <div class="col">
      <!-- todo table list -->
      <table class="table">
        <thead class="thead-light">
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <td>{{ todo }}</td>
            <td class="text-right"><button (click)="editTodo(todo)" class="btn btn-primary">Edit</button></td>
            <td>
              <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
            </td>
          </tr>
          <!-- delete all button -->
          <tr>
            <td>
              <button class="btn btn-danger" (click)="deleteAll(todo)">Delete All!</button>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
</div>
